---
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Anderson Marin - Portafolio">
  <main class="relative flex min-h-screen flex-col py-4 md:py-6">
    <SectionContainer>
      <Hero />
      <Projects />
      <Experience />
      <Education />
      <Skills />
    </SectionContainer>
  </main>
</Layout>
