---
import ExperienceItem from "./ExperienceItem.astro";

export const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Desarrollador Full Stack",
    empresa: "Movilidad Bogotá",
    link: "https://www.movilidadbogota.gov.co/web/",
    description:
      "Desarrollé una aplicación web para Movilidad Bogotá que optimiza la gestión de expedientes mediante su creación y actualización continua. Utilicé Angular para construir una interfaz de usuario intuitiva y Node.js para el backend, asegurando una comunicación fluida entre ambos. Implementé autenticación basada en tokens y control de acceso basado en roles para garantizar la seguridad y confidencialidad de los datos. Además, diseñé un sistema de inicio de sesión seguro y habilité la generación y descarga de reportes detallados de cada expediente, facilitando así el seguimiento y análisis de la información.",
  },
  {
    date: "Febrero 2024",
    title: "Desarrollador Full Stack",
    empresa: "Foscan",
    link: "https://foscan.com/",
    description:
      "Desarrollé una aplicación web integral para Foscan, una empresa del sector petrolero, gestionando tanto el front-end como el back-end. Utilicé Angular para crear una interfaz de usuario intuitiva y dinámica, mientras que con Node.js implementé la lógica del servidor. Me especialicé en la visualización de datos mediante gráficos interactivos de barras y líneas, facilitando el análisis de información clave para la empresa. Además, integré una base de datos SQL Server en Azure a través de una API personalizada. Esta experiencia me permitió fortalecer mis habilidades técnicas, aportando soluciones innovadoras que contribuyeron directamente al éxito de Foscan.",
  },
  {
    date: "Enero 2024",
    title: "Desarrollador Frontend",
    empresa: "Quintechnology SAS",
    link: "https://www.quintechnologysas.com/",
    description:
      "Diseñé, desarrollé y desplegué un sitio web estático para Quintechnology SAS, una empresa de instrumentación y servicios de ingeniería. Mi rol abarcó desde el diseño inicial hasta el despliegue en Hostinger, asegurando una presencia en línea efectiva para la empresa.",
  },
];
---

<section>
  <h3 class="text-xl py-4 font-medium">Experiencia</h3>
  <ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 m-6">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</section>
