<footer
     class="w-full max-w-4xl flex items-center justify-between mx-auto px-4 pt-10"
>
     <span class="font-extralight text-xs">💡Un proyecto a la vez!</span>
     <span class="font-extralight text-xs">Anderson Marin - 2024</span>
</footer>
