---
import Email from "./icons/Email.astro";
import GitHub from "./icons/GitHub.astro";
import Instagram from "./icons/Instagram.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<nav
     class="container mx-auto px-4 sticky top-0 z-50 mb-1 flex w-full max-w-4xl items-center justify-between py-4 backdrop-blur-md dark:bg-neutral-900/80"
>
     <!-- Enlace principal -->
     <a
          aria-label="Ir a la página principal"
          href="/"
          class="text-md flex items-center space-x-2 font-medium tracking-tight opacity-80 transition-opacity duration-150 hover:opacity-100"
     >
          <span>anderson.dev</span>
     </a>

     <!-- Enlaces a redes sociales -->
     <div class="flex items-center space-x-1">
          <!-- LinkedIn -->
          <a
               aria-label="LinkedIn"
               href="https://www.linkedin.com/in/aarturodev"
               title="LinkedIn"
               target="_blank"
               rel="noopener noreferrer"
               class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-200 hover:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 h-9 w-9 opacity-80 transition-opacity duration-150 hover:opacity-100"
          >
               <LinkedIn class="size-5" />
          </a>

          <!-- GitHub -->
          <a
               aria-label="GitHub"
               href="https://github.com/aarturodev"
               title="GitHub"
               target="_blank"
               rel="noopener noreferrer"
               class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-200 hover:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 h-9 w-9 opacity-80 transition-opacity duration-150 hover:opacity-100"
          >
               <GitHub class="size-5" />
          </a>
          <a
               aria-label="Email"
               href="mailto:andersonarturomarin@gmail.com"
               title="Email"
               target="_blank"
               rel="noopener noreferrer"
               class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-200 hover:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 h-9 w-9 opacity-80 transition-opacity duration-150 hover:opacity-100"
          >
               <Email class="size-6" />
          </a>

          <a
               aria-label="Instagram"
               href="https://www.instagram.com/aarturodev/"
               title="Instagram"
               target="_blank"
               rel="noopener noreferrer"
               class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-200 hover:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 h-9 w-9 opacity-80 transition-opacity duration-150 hover:opacity-100"
          >
               <Instagram class="size-6" />
          </a>
     </div>
</nav>
