<section class="bg-neutral-100/80 dark:bg-neutral-900/80 dark:text-neutral-300">
  <p class="font-light prose dark:prose-invert sm:text-normal md:text-xl">
    Hola, soy <strong class="font-bold text-neutral-700 dark:text-neutral-200"
      >Anderson</strong
    >, desarrollador fullstack de Bogóta, Colombia con +2 años de experiencia
    como Freelance. Me especializo en desarrollo frontend, bases de datos y APIs
    RESTful, con un enfoque en crear soluciones escalables, de alto rendimiento
    y optimizadas, siempre priorizando la eficiencia y las mejores prácticas de
    desarrollo.
  </p>
</section>
