<section class="bg-neutral-100/80 dark:bg-neutral-900/80 dark:text-neutral-500">
     <p class="font-light prose dark:prose-invert sm:text-normal md:text-xl">
          Hola, soy <strong
               class="font-bold text-neutral-700 dark:text-neutral-400"
               >Anderson</strong
          >, desarrollador web fullstack con +2 años de experiencia. Me
          especializo en desarrollo frontend, bases de datos y APIs RESTful,
          siempre enfocado en crear soluciones eficientes y escalables.
     </p>
</section>
