<section class="bg-neutral-100/80 dark:bg-neutral-900/80">
     <p class="prose dark:prose-invert">
          Hi, I'm <strong>Anderson</strong>, a fullstack web developer from
          Colombia with +2 years of experience. While I have expertise across
          the full development cycle, I'm particularly passionate about frontend
          development, as well as databases and APIs design.
     </p>
</section>
