<a
     class="rounded-full text-white/70 border border-white/10 hover:scale-105 hover:bg-white/20 transition bg-white/10 cursor-pointer flex justify-center items-center gap-x-3 py-1 px-2 text-xm lg:text-base"
     {...Astro.props}
     target="_blank"
     rel="noopener noreferrer"
>
     <slot />
</a>
